<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="BUILD_TIMESTAMP" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <property name="LOG_DIR" value="logs/run-${BUILD_TIMESTAMP}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/application.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.DolgihDmitriy" level="DEBUG"/>
    <logger name="org.seleniumhq.selenium" level="WARN"/>
    <logger name="io.github.bonigarcia" level="INFO"/>
</configuration>
